# Retail Store Demand Forecasting

Objective  
Explore historical retail store data and check how past sales and promotion signals relate to demand one week ahead.

Hypotheses  

- **Null hypothesis (H₀)**: Past sales and promotions do not add significant predictive signal for next week product demand.  
- **Alternative hypothesis (Hₐ)**: Past sales and promotions add significant predictive signal for next week product demand.

## 1. Setup and data loading

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.linear_model import LinearRegression

import statsmodels.api as sm

plt.style.use("default")

pd.set_option("display.max_columns", None)
pd.set_option("display.width", 120)

In [2]:
# Load dataset
csv_path = (
    "data/retail_store_inventory.csv"  # place notebook and CSV in the same folder
)
df = pd.read_csv(csv_path)

df.head()

,Date,Store ID,Product ID,Category,Region,Inventory Level,Units Sold,Units Ordered,Demand Forecast,Price,Discount,Weather Condition,Holiday/Promotion,Competitor Pricing,Seasonality
0,2022-01-01,S001,P0001,Groceries,North,231,127,55,135.47,33.50,20,Rainy,0,29.69,Autumn
1,2022-01-01,S001,P0002,Toys,South,204,150,66,144.04,63.01,20,Sunny,0,66.16,Autumn
2,2022-01-01,S001,P0003,Toys,West,102,65,51,74.02,27.99,10,Sunny,1,31.32,Summer
3,2022-01-01,S001,P0004,Toys,North,469,61,164,62.18,32.72,10,Cloudy,1,34.74,Autumn
4,2022-01-01,S001,P0005,Electronics,East,166,14,135,9.26,73.64,0,Sunny,0,68.95,Summer

## 2. Data overview and basic cleaning

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73100 entries, 0 to 73099
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date                73100 non-null  object
 1   Store ID            73100 non-null  object
 2   Product ID          73100 non-null  object
 3   Category            73100 non-null  object
 4   Region              73100 non-null  object
 5   Inventory Level     73100 non-null  int64
 6   Units Sold          73100 non-null  int64
 7   Units Ordered       73100 non-null  int64
 8   Demand Forecast     73100 non-null  float64
 9   Price               73100 non-null  float64
 10  Discount            73100 non-null  int64
 11  Weather Condition   73100 non-null  object
 12  Holiday/Promotion   73100 non-null  int64
 13  Competitor Pricing  73100 non-null  float64
 14  Seasonality         73100 non-null  object
dtypes: float64(3), int64(5), object(7)
memory usage: 8.4+ MB

In [4]:
df.describe(include="all").T

                      count unique         top   freq        mean         std   min    25%      50%       75%     max
Date                  73100    731  2022-01-01    100         NaN         NaN   NaN    NaN      NaN       NaN     NaN
Store ID              73100      5        S001  14620         NaN         NaN   NaN    NaN      NaN       NaN     NaN
Product ID            73100     20       P0001   3655         NaN         NaN   NaN    NaN      NaN       NaN     NaN
Category              73100      5   Furniture  14699         NaN         NaN   NaN    NaN      NaN       NaN     NaN
Region                73100      4        East  18349         NaN         NaN   NaN    NaN      NaN       NaN     NaN
Inventory Level     73100.0    NaN         NaN    NaN  274.469877  129.949514  50.0  162.0    273.0     387.0   500.0
Units Sold          73100.0    NaN         NaN    NaN   136.46487  108.919406   0.0   49.0    107.0     203.0   499.0
Units Ordered       73100.0    NaN         NaN    NaN  110.004473   52.277448  20.0   65.0    110.0     155.0   200.0
Demand Forecast     73100.0    NaN         NaN    NaN   141.49472  109.254076 -9.99  53.67  113.015  208.0525  518.55
Price               73100.0    NaN         NaN    NaN   55.135108   26.021945  10.0  32.65    55.05     77.86   100.0
Discount            73100.0    NaN         NaN    NaN   10.009508    7.083746   0.0    5.0     10.0      15.0    20.0
Weather Condition     73100      4       Sunny  18290         NaN         NaN   NaN    NaN      NaN       NaN     NaN
Holiday/Promotion   73100.0    NaN         NaN    NaN    0.497305    0.499996   0.0    0.0      0.0       1.0     1.0
Competitor Pricing  73100.0    NaN         NaN    NaN   55.146077   26.191408  5.03  32.68    55.01     77.82  104.94
Seasonality           73100      4      Spring  18317         NaN         NaN   NaN    NaN      NaN       NaN     NaN

### 2.1 Column description

Short summary of main columns from this dataset.

- `Date`: Calendar date for the record.  
- `Store ID`: Store identifier.  
- `Product ID`: Product identifier.  
- `Category`: Product category.  
- `Region`: Store region.  
- `Inventory Level`: Stock level for that row.  
- `Units Sold`: Actual units sold on that date.  
- `Units Ordered`: Units placed on order.  
- `Demand Forecast`: Forecast quantity available in the raw data.  
- `Price`: Product price.  
- `Discount`: Discount percentage for that day.  
- `Weather Condition`: Weather label for that day.  
- `Holiday/Promotion`: Flag that marks holiday or promotion.  
- `Competitor Pricing`: Competitor price for the same product.  
- `Seasonality`: Season label.

### 2.2 Convert date column and check missing values

In [5]:
df["Date"] = pd.to_datetime(df["Date"], format="%Y-%m-%d", errors="coerce")

missing_summary = df.isna().mean().sort_values(ascending=False)
missing_summary

Date                  0.0
Store ID              0.0
Product ID            0.0
Category              0.0
Region                0.0
Inventory Level       0.0
Units Sold            0.0
Units Ordered         0.0
Demand Forecast       0.0
Price                 0.0
Discount              0.0
Weather Condition     0.0
Holiday/Promotion     0.0
Competitor Pricing    0.0
Seasonality           0.0
dtype: float64

In [6]:
# Drop rows with missing Date or Units Sold, since those fields are central for this analysis
df = df.dropna(subset=["Date", "Units Sold"]).copy()

df.sort_values(["Store ID", "Product ID", "Date"], inplace=True)
df.reset_index(drop=True, inplace=True)

df.head()

,Date,Store ID,Product ID,Category,Region,Inventory Level,Units Sold,Units Ordered,Demand Forecast,Price,Discount,Weather Condition,Holiday/Promotion,Competitor Pricing,Seasonality
0,2022-01-01,S001,P0001,Groceries,North,231,127,55,135.47,33.50,20,Rainy,0,29.69,Autumn
1,2022-01-02,S001,P0001,Groceries,West,116,81,104,92.94,27.95,10,Cloudy,0,30.89,Spring
2,2022-01-03,S001,P0001,Electronics,West,154,5,189,5.36,62.70,20,Rainy,0,58.22,Winter
3,2022-01-04,S001,P0001,Groceries,South,85,58,193,52.87,77.88,15,Cloudy,1,75.99,Winter
4,2022-01-05,S001,P0001,Groceries,South,238,147,37,150.27,28.46,20,Sunny,1,29.40,Winter